@font-face {
  font-family: "Glacial Indifference";
  font-weight: bold;
  font-style: normal;
  src: url("../assets/fonts/glacialindifference-bold-webfont.ttf")
    format("truetype");
  src: url("../assets/fonts/glacialindifference-bold-webfont.woff")
      format("woff"),
    url("../assets/fonts/glacialindifference-bold-webfont.woff2")
      format(".woff2");
}

@font-face {
  font-family: "Glacial Indifference";
  font-style: italic;
  src: url("../assets/fonts/glacialindifference-italic-webfont.woff")
      format("woff"),
    url("../assets/fonts/glacialindifference-italic-webfont.woff2")
      format(".woff2");
}

@font-face {
  font-family: "Glacial indifference";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/glacialindifference-regular-webfont.ttf")
    format("truetype");
  src: url("../assets/fonts/glacialindifference-regular-webfont.woff")
      format("woff"),
    url("../assets/fonts/glacialindifference-regular-webfont.woff2")
      format(".woff2");
}

:root {
  --color-gray-50: #f6f8f9;
  --color-gray-100: #d8d8d8;
  --color-gray-200: #c2c2c2;
  --color-gray-300: #9c9b9b;
  --color-black: #2c2e30;
  --color-blue: #37a8ee;
  --color-green: #00dca4;
  --color-yellow: #f1c40f;

  --primary-button-color: #37a8ee;
  --secondary-button-color: #00dca4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.2rem;
}

body,
button,
input,
textarea {
  font-family: "Glacial indifference", sans-serif;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
