.wrapperContainer {
  width: 100%;
  padding: 2rem 1.25rem;
  background: var(--color-gray-50);
  position: relative;

  .animationContainer {
    display: flex;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;

    .animationText {
      text-align: center;
      margin: auto;
      font-size: 5rem;
      font-weight: bolder;
      color: var(--color-blue);
      text-shadow: 1px 2px 5px var(--color-black);
    }
  }

  .boardContainer {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 400px;
    padding: 1.2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .boardTitle {
      h1 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: normal;
        margin-bottom: 1rem;
        text-align: center;
      }
    }

    .boardContent {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;

      .boardButtons {
        display: flex;

        button {
          padding: 0.3rem 1rem;
          border: 0;
          cursor: pointer;
          line-height: 1.5;
          border-radius: 5px;
          font-size: 1rem;
          background: #fff;
          outline: 0;

          &:hover {
            filter: brightness(0.9);
          }
        }
        .isActive {
          background: #817b7b;
          color: #fff;
        }
      }

      .boardBody {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .boardBodyPlayer {
          display: grid;
          grid-template-areas:
            "player1 boardGame player2"
            "stopwatch stopwatch stopwatch";

          margin-top: 1.5rem;

          .boardGame {
            grid-area: boardGame;
            background: #fff;
            border: 2px solid var(--color-gray-200);
            margin: 0 1.2rem;

            .squareGroup {
              flex: 1;
              position: relative;
              margin: auto;

              display: grid;
              grid-template-columns: repeat(3, 150px);

              @media screen and (max-width: 480px) {
                grid-template-columns: repeat(3, 1fr);
              }
            }
          }

          .gamePlayerTitleScore {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 1rem 0;

            h3 {
              font-size: 1.8rem;
              font-weight: bold;
              margin-bottom: 1rem;
              text-align: center;
              line-height: 1.5;
            }

            h1 {
              font-size: 3.2rem;
              font-weight: normal;
              margin-bottom: 1rem;
              text-align: center;
            }
          }

          .scorePlayer1 {
            grid-area: player1;
          }

          .scorePlayer2 {
            grid-area: player2;
          }

          .stopwatch {
            grid-area: stopwatch;
            margin-top: 1.5rem;

            span {
              font-size: 2rem;
            }
          }

          .isActive {
            color: var(--color-blue);
            transform: scale(1.2);
          }

          @media screen and (max-width: 480px) {
            grid-template-columns: 1fr auto 1fr;
            grid-template-areas:
              "boardGame boardGame boardGame"
              "player1 stopwatch player2";

            .stopwatch {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}
