.wrapperContainer {
  width: 100%;
  padding: 2.5rem 1.25rem;
  background: var(--color-gray-50);

  .boardContainer {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 400px;
    padding: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .boardTitle {
      h1 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: normal;
        margin-bottom: 1rem;
        text-align: center;
      }
    }

    .boardContent {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;

      .boardButtons {
        display: flex;

        button {
          padding: 0.3rem 1rem;
          border: 0;
          cursor: pointer;
          line-height: 1.5;
          border-radius: 5px;
          font-size: 1rem;
          background: #fff;
          outline: 0;

          &:first-child {
            background: #817b7b;
            color: #fff;
          }
        }
      }

      .boardBody {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .boardBodyPlayer {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 1.5rem;
          width: 100%;

          .boardGame {
            background: #fff;
            border: 2px solid var(--color-gray-200);
            margin: 0 1.2rem;

            /* max-width: 500px;
            height: 500px;
            min-width: 300px;
            min-height: 300px; */

            /*  display: flex;
            justify-content: space-between;
            align-items: center; */

            .squareGroup {
              flex: 1;
              position: relative;
              margin: auto;

              display: grid;
              grid-template-columns: repeat(3, 150px);
            }
          }

          .gamePlayerTitleScore {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 1rem;

            h3 {
              font-size: 1.4rem;
              font-weight: bold;
              margin-bottom: 1rem;
              text-align: center;
              line-height: 1.5;
            }

            h1 {
              font-size: 3.2rem;
              font-weight: normal;
              margin-bottom: 1rem;
              text-align: center;
            }
          }
        }
      }
      .boardTimer {
        margin-top: 1.5rem;
        span {
          font-size: 1.5rem;
        }
      }
    }
  }
}
