.container {
  border: 2px solid var(--color-gray-200);
  width: 150px;
  height: 150px;
  flex: 1;
  cursor: pointer;

  &:hover {
    background: var(--color-gray-50);
  }

  .squareImage {
    padding: 1rem;
    line-height: 0;

    img {
      object-fit: cover;
    }
  }
}
